.title {
  color: white;
  text-align: center;
}

#tableauViz {
  margin-bottom: 100px;
}

.left {
  float: left;
}

.tags {
  margin: 5px;
}

#markDetails {
  color: white;
  text-align: left;
  margin-left: 20px;
}
