.background {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: pink;
    /*background: url("${ STATIC_URL }/homepage/media/background.jpg") no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title {
  color: white;
  text-align: center;
}

#tableauViz {
  margin-bottom: 100px;
}

.left {
  float: left;
}

.tags {
  margin: 5px;
}

#markDetails {
  color: white;
  text-align: left;
  margin-left: 20px;
}
