.hidden {
    display: none;
}

.selected_champ {
    width: 50px;
    width: 4vw;
    margin-right: 5px;
    padding: 3px;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77704a+0,c9c190+66,d5cea6+100 */
    background: #77704a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #77704a 0%, #c9c190 66%, #d5cea6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #77704a 0%, #c9c190 66%, #d5cea6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #77704a 0%, #c9c190 66%, #d5cea6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77704a', endColorstr='#d5cea6', GradientType=0);
    /* IE6-9 */
}

.selection_space {
    width: 100%;
    height: 240px;
    height: 60vh;
    background-color: #031D26;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.scrollable-menu {
    padding-left: 0px;
}
.scrollable-menu li {
    display: inline-block;
    text-align: center;
    width: 75px;
    font-size: 10px;
}

.selection img {
    width: 50px;
    width: 5vw;
    padding: 3px;
    color: #fff;
background: #111;
border: 1px solid #000;
border-right: 1px solid #353535;
border-bottom: 1px solid #353535;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.selectContainer button {
    min-width: 155px;

}

.form-group {
    color: #fff;
}


.recommendations {
    padding-top: 50px;
}

.rec_info img {
    width: 70px;
    display: inline;
}

.rec_stats p {
    display: inline;
}

#collapse1, #collapse2, #collapse3, #collapse4, #collapse5 {
    color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#collapse1 .card-body, #collapse2 .card-body, #collapse3 .card-body, #collapse4 .card-body, #collapse5 .card-body {
    background-color: rgba(0, 0, 0, 0.5);
}
